.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
  gap: 6em;
}

.image {
  width: 20%;

  & img {
    width: 100%;
  }
}


.signup-container {
  width: 18%;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1em 3em;

  & h1 {
    color: mediumseagreen;
  }
}

.signup {
  display: flex;
  flex-direction: column;

  & p {
    margin: .5em;
  }

  & label {
    width: 100%;
    font-size: 1.25rem;
  }

  & input {
    margin-top: .5rem;
    line-height: 1.75rem;
    width: 100%;
  }

  & button {
    background-color: green;
    font-size: 1.25rem;
    color: white;
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 40%;
    padding: 1rem 2rem;
    border-radius: 5px;
  }
}