{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>JobFindr</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <header>
      <div class="branding">
        <img src="{% static 'images/JobFindr_logo.png' %}" alt="JobFindr logo">
      </div>
      <nav class="main-nav">
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'user_logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'user_login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'user_signup' %}">Signup</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
      <p>
        Copyright {% now "Y" %}
        <a href="https://www.denniecodes.com/">DennieCodes</a>
      </p>
    </footer>
  </body>
</html>