/* main h1 {
  text-align: center;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 300;
} */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
  gap: 4em;
}

.image {
  width: 25%;

  & img {
    width: 100%;
  }
}

.intro {
  width: 24%;

  & p {
    color: #242526;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 1.25em 0 2em;
  }

  & p:first-of-type {
    margin: 2em 0;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0 0 .25em;
  text-align: center;
  color: #581845;
}

h2 {
  margin-top: 0;
  text-align: center;
  color: #8B4000;
}

.primary-cta {
  font-size: 1rem;
  background-color: green;
  color: white;
  padding: 1em 2em;
  border-radius: 5px;
  display: inline-block;
  width: 35%;
  text-align: center;
}

.secondary-cta {
  font-size: 1rem;
  background-color: blue;
  color: white;
  padding: 1em 2em;
  border-radius: 5px;
  display: inline-block;
  width: 35%;
  text-align: center;
}