main {
  padding: 0 3em;
  flex-direction: row;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 300;
  color: #3A79B7;
}

.container {
  display: flex;
}

/* Aside, controls styling */

aside {
  flex: 0 0 20%;
  padding: 0 1em;

  & h2 {
    text-align: center;
    color: #1F355E;
    font-size: 1.5rem;
    margin-top: 0;
  }
}

.control-form {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1em 1.5em;

  & p {
    margin: .25em 0;
  }

  & input {
    margin-top: .5em;
    width: 100%;
    height: 1.5em;
  }

  & textarea {
    margin-top: .5em;
    margin-bottom: 1em;
    width: 100%;
  }

  & button, & .delete-button {
    font-size: 1.25rem;
    color: white;
    padding: .5em 3em;
    display: block;
    margin: 1em auto .5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  & button {
    background-color: green;
  }

  & .delete-button {
    background-color: brown;
    text-align: center;
    width: 30%;
  }
}




/* Application status gallery styling */

.application-info {
  flex-grow: 1;
}

.status-columns {
  display: flex;
  flex-direction: row;

  & div {
    min-height: 400px;
    flex-basis: 20%;
    flex-grow: 1;
    margin: 0 10px;
    border: 1px solid lightgray;
    border-radius: 10px;

    & ul {
      padding: 0 15px;
    }

    & li {
      border: 1px solid lightgray;
      padding: 5px;
    }

    & h3 {
      padding: .5em 1em;
      color: white;
    }
  }
}

p:has(select) {
  text-align: right;
}

.no-response {
  color: darkgray;
}

.no-response-bg {
  background-color: darkgray;
}

.ongoing {
  color: orange;
}

.ongoing-bg {
  background-color: orange;
}

.advancing {
  color: green;
}

.advancing-bg {
  background-color: green;
}

.rejection {
  color: brown;
}

.rejection-bg {
  background-color: brown;
}

div.color-guide {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: .5em 2em;
  margin: 0 10px 1em 10px;
  border: 1px solid lightgray;
  border-radius: 10px;

  & h4 {
    margin: 0;
  }

  & ul.color-guide-list {
    display: flex;
    flex-direction: row;
    margin: .25em 0 .5em;

    & li {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: none;
      padding: 0.125em 0;
      gap: .25em;
      margin: 0 1em;

      & span {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
      }
    }
  }
}

/* Status Columns heading color settings */
.applications {
  & h3 {
    background-color: #3A79B7;
  }
}

.screening {
  & h3 {
    background-color: #6CB3E0;
  }
}

.technical {
  & h3 {
    background-color: #A2C7E5;
  }
}

.interview {
  & h3 {
    background-color: #6C7B8B;
  }
}

.offer {
  & h3 {
    background-color: #1F355E ;
  }
}